Body {
  font-family: "Raleway", sans-serif;
}

ul {
  list-style-type: none;
}

/* ------- HEADER ------ */
Header {
  display: flex;
  justify-content: space-between;
  margin-top: 35px;
  margin-bottom: 30px;
  margin-left: 50px;
  margin-right: 50px;
}

.logoreservia {
  height: 43px;
}

.menu {
  display: flex;
  margin-top: 10px;
}

.menu1 {
  text-decoration: none;
  color: black;
  padding-top: 42px;
  padding-left: 35px;
  padding-right: 35px;
  padding-bottom: 25px;
}
.menu1:hover {
  color: #0065fc;
  border-top: #0065fc solid 3px;
}

.menu2 {
  text-decoration: none;
  color: #0065fc;
  font-weight: bold;
  padding: 25px;
}

/* ------- Main ------ */

.recherche {
  margin-left: 50px;
}

h1 {
  font-size: 1.4rem;
  font-weight: bold;
  margin-top: 45px;
  margin-bottom: 0px;
}

p {
  margin-top: 5px;
}

form {
  display: flex;
}

.logo_map {
  background-color: #f2f2f2;
  border-radius: 15px 0px 0px 15px;
  height: 50px;
  width: 50px;
  text-align: center;
}

.map {
  margin-top: 15px;
}

input {
  border-left: none;
  border-right: none;
  border-top: 1px solid #f2f2f2;
  border-bottom: 1px solid #f2f2f2;

  width: 235px;

  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 1.1rem;
  padding-left: 15px;
}

button {
  color: white;
  background-color: #0065fc;
  border-radius: 0px 15px 15px 0px;
  border: none;

  width: 133px;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 1.1rem;
}

.filtres {
  display: flex;
  font-weight: bold;
  align-items: center;
}

.filtresdetails {
  border-top: solid #f2f2f2 2px;
  border-bottom: solid #f2f2f2 2px;
  border-right: solid #f2f2f2 2px;
  padding-right: 10px;
  margin-left: 5px;
  margin-right: 5px;
  font-size: 1.1rem;
  height: 50px;
}

.logosfiltres {
  color: #0065fc;
  background-color: #deebff;
  height: 50px;
  width: 50px;
}

.menufiltres {
  display: flex;
}

.hebergements {
  display: flex;
}
/* ------- Footer ------ */
footer {
  display: flex;
}
